html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  border-bottom: 1px solid #000;
}

legend {
  padding-right: 1rem;
}

fieldset {
  margin: 0;
  padding: 0;
}

.address {
  height: 4em;
}

.btn {
  color: #fff;
  background-color: #f2f2f2;
}

@media only screen and (min-width: 60em) {

  .age, .email {
    padding-right: 1rem;
  }

}
