html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  border-bottom: 1px solid #000;
}

@media only screen and (min-width: 60em) {

  .age, .email {
    padding-right: .5rem;
  }

}





/*media query @ 60
padding-left (age and fitness), padding right (name and e-mail)*/
