html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  border-bottom: 1px solid #000;
}

legend {
  padding-right: 1rem;
}
@media only screen and (min-width: 60em) {

  .age, .email {
    padding-right: 1rem;
  }

}
